#intro {
    position: absolute;
    width: 980px;
    height: 402px;
    left: 50%;
    margin-left: -490px;
    top: 50%;
    margin-top: -201px;
    background: rgba(255, 255, 255, 0.3);
}

#intro > .button {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    margin-top: -24px;
}

#intro > .button.next {
    background-image: url("images/intro/next_normal.png");
    margin-left: 1000px;
}

#intro > .button.next:hover {
    background-image: url("images/intro/next_hover.png");
}

#intro > .button.back {
    background-image: url("images/intro/back_normal.png");
    margin-left: -68px;
}

#intro > .button.back:hover {
    background-image: url("images/intro/back_hover.png");
}

#intro .places_wrapper {
    position: relative;
    height: 400px;
    overflow: hidden;
    width: 970px;
}

#intro .places {
    height: 402px;
    width: 1000000px;
}

#intro .place {
    width: 300px;
    height: 362px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

#intro .place .title {
    position: relative;
    width: 280px;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px;
}

#intro .place .name {
    padding-left: 10px;
    color: #ffffff;
    font-family: SegoeLight, sans-serif;
    font-weight: lighter;
    font-size: 35px;
    padding-top: 3px;
}

#intro .place .more {
    width: 300px;
    height: 24px;
    margin-top: 6px;

    padding-top: 6px;
}

#intro .place .more_next {
    width: 18px;
    height: 18px;
    background-image: url("images/intro/next_week_normal.png");

    margin-top: -18px;
    margin-left: 276px;
}

#intro .place .more_next:hover {
    background: url("images/intro/next_week_hover.png") no-repeat;
}

#intro .place .more_back {
    width: 18px;
    height: 18px;
    background: url("images/intro/pre_week_normal.png") no-repeat;
    margin-left: 6px;
}

#intro .place .more_back:hover {
    background: url("images/intro/pre_week_hover.png") no-repeat;
}

#intro .place .day_line {
    width: 300px;
    height: 30px;
    margin-bottom: 1px;
}

#intro .place .day_line:hover .date,
#intro .place .day_line:hover .count {
    background-color: #fff;
    cursor: pointer;
}

#intro .place .date {
    display: inline-block;
    width: 249px;
    height: 16px;
    padding: 7px 10px;
    background-image: url("images/intro/white_bkg.png");
}

#intro .place .day_name {
    color: #000;
    font: 15px Arial;
    text-transform: uppercase;
}

#intro .place .day_name.holiday {
    color: red;
}

#intro .place .day_number {
    color: #666;
    font: lighter 15px Arial;
    margin-left: 43px;
}

#intro .place .count {
    float: right;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

#intro .place .number {
    color: white;
    font: bold 20px Arial;
}