/* шрифты */
@font-face {
    font-family: SegoeLight;
    src: url(fonts/segoeuil.ttf);
}

@font-face {
    font-family: SegoeNorm;
    src: url(fonts/segoeui.ttf);
}

@font-face {
    font-family: SegoeBold;
    src: url(fonts/seguisb.ttf);
}

/* ОБЩИЕ СТИЛИ */
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font: lighter 14px Arial, sans-serif;
}

a {
    color: #1ba0e1;
}

.page_wrapper {
    position: relative;
    width: 1000px;
    margin: auto;
}

.place_icon {
    display: inline-block;
    border-left: solid black 15px;
    border-top: solid black 15px;
    margin-right: 3px;
}

/* радио-кнопки */
.form-search .radio,
.form-inline .radio {
    line-height: 14px;
    font-size: inherit;
    vertical-align: top;
}

.radio input[type="radio"] {
    display: none;
}

.radio .circle {
    display: inline-block;
    height: 13px;
    width: 13px;
    border-radius: 50px;
    border: 1px solid #c6c6c6;
    margin-right: 4px;
}

.radio:hover .circle {
    border: 1px solid #6d6d6d;
}

.radio.active .circle {
    background-image: url("images/search/radio_active.png");
}

/* шапка и подвал */
#header, #footer {
    position: fixed;
    width: 100%;
    background-color: #02080d;
    height: 40px;
    overflow: hidden;
    z-index: 100000;
}

#footer {
    bottom: 0;
}

#header_offset, #footer_offset {
    padding-top: 40px;
}

/* лого */
#logo {
    height: 40px;
    font-size: 17pt;
    color: #fff;
    float: left;
}

#logo a {
    color: inherit;
    text-decoration: none;
}

#logo .one {
    font-family: SegoeLight, Arial, sans-serif;
}

#logo .day {
    font-family: SegoeNorm, Arial, sans-serif;
}

#logo .pass {
    font-family: SegoeBold, Arial, sans-serif;
}

/* панель пользователя */
#user_panel {
    float: right;
    margin-top: 3px;
}

#user_panel .auth {
    text-align: right;
    color: white;
}

#user_panel .auth a {
    display: block;
    color: inherit;
    text-decoration: none;
}

#user_panel .tools a {
    line-height: 32px;
    text-decoration: none;
}

#user_panel .tools a i {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    vertical-align: -16%;
    margin-right: 10px;
    padding: 1px 1px 0 0;
    width: 22px;
    line-height: 22px;
    border-radius: 10000px;
    border: 2px solid #1BA0E1;
}

#user_panel .tools a:hover,
#user_panel .tools a:hover i {
    color: #fff;
    border-color: #fff;
}

/* элементы формы */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 3px;
}

.control-group .help-block {
    font-size: 10px;
    margin-bottom: 0;
    line-height: 18px;
}

.control-group.error .help-block.message {
    color: inherit;
}

.control-group .help-block input {
    margin: 0 4px 0 0;
}

.control-group .help-block label {
    font-size: inherit;
    line-height: inherit;
    vertical-align: bottom;
}

/* модальное окно */
.modal-backdrop {
    z-index: 1000001;
}

.modal {
    border: 15px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 580px;
    margin-left: -290px;
    color: #8e8e8e;
    font-size: 13px;
    z-index: 1000002;
}

.modal.fade.in {
        top: 20%;
}

.modal-header {
    padding: 0 15px;
    border-bottom: 0;
}

.modal-header h1 {
    margin: 5px 0;
    font: 33px SegoeLight, Arial, sans-serif;
    color: #1ba0e1;
}

.modal-footer {
    border-top: 0;
    background: 0;
    padding-top: 0;
}

/* кнопка */
.btn {
    background: #1ba0e1;
    border: 0;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    padding: 4px 16px;
}

.btn:hover, .btn:active {
    background: #005580;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn.gray {
    background: #8e8e8e;
}

.btn.gray:hover {
    background: #656464;
}

/* социальный блок для входа */
.modal .social_block {
    float: right;
    width: 231px;
}

.modal .social_block .icons {
    margin-top: 20px;
}

.modal .social_block .icons a {
    display: inline-block;
    width: 53px;
    height: 53px;
    background: #1ba0e1;
}