#profile h1 {
    margin: 20px 0 0;
    color: #1ba0e1;
    font: normal 30px SegoeLight, sans-serif;
}

#profile h2 {
    color: #555;
    text-transform: uppercase;
    font: normal 13px/22px SegoeLight, sans-serif;
}

#profile h3 {
    text-transform: uppercase;
    font: normal 21px/13px SegoeLight, sans-serif;
    color: #a5a5a5;
    margin: 0 0 10px 0;
    padding: 0;
}

#profile .ticket {
    margin-bottom: 10px;
}

#profile .ticket .price {
    text-align: right;
    font: normal 21px/21px SegoeLight, sans-serif;
    background: #1BA0E1;
    width: 65px;
    height: 65px;
    color: white;
    padding: 2px;
    float: left;
    margin-right: 8px;
}

#profile .ticket .price .number {
    font-size: 30px;
}

#profile .avatar {
    margin-right: 12px;
    float: left;
    padding: 5px;
    background: #8e8d8b;
    position: relative;
}

#profile .avatar .background {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 18px;
    background: #1b9fe0;
}

#profile .avatar img {
    padding: 2px;
    position: relative;
    background: white;
}

#profile #personal .name {
    color: #8E8E8E;
    text-transform: uppercase;
    font: normal 30px/22px SegoeLight, sans-serif;
}

#profile #personal dt {
    color: #8E8E8E;
    font: normal 12px/10px SegoeLight, sans-serif;
}