/* фильтр */
#filter {
    background-color: #f1f1f1;
}

#filter .page_wrapper {
    line-height: 29px;
    padding: 20px;
}

#filter .page_wrapper .form_result {
    margin-left: 20px;
    font: lighter 14px Arial;
}

/* кнопки фильтра */
#filter .page_wrapper .button {
    display: inline-block;
    vertical-align: top;
    width: 44px;
    height: 27px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    cursor: pointer;
}

#filter .page_wrapper .button:hover,
#filter .page_wrapper .button.active {
    border: 1px solid #6d6d6d;
}

#filter .page_wrapper .button .icon {
    display: block;
    width: 18px;
    height: 18px;
    margin: 3px 13px;
}

/* кнопка календаря */
#filter .page_wrapper .button .icon.celendar {
    background: url("images/search/calendar.png");
}

#filter .page_wrapper .button:hover .icon.celendar,
#filter .page_wrapper .button.active .icon.celendar {
    background: url("images/search/calendar_hover.png");
}

/* кнопка кол-ва людей */
#filter .page_wrapper .button .icon.group {
    background: url("images/search/group.png");
}

#filter .page_wrapper .button:hover .icon.group,
#filter .page_wrapper .button.active .icon.group {
    background: url("images/search/group_hover.png");
}

/* выпадающее окно для выбора дат */
#date_selector {
    position: absolute;
    left: 21px;
    top: 46px;
    width: 219px;
    height: 80px;
    margin: 4px 0 0 -1px;
    background-color: #fff;
    border: 1px solid #acacac;
    z-index: 100001;
    padding: 5px 16px 16px;
    font-size: 13px;
}

#date_selector .dates {
    position: relative;
}

#date_selector .dates select {
    padding: 0;
    height: auto;
    line-height: normal;
}

#date_selector .dates input[type=text] {
    width: 85px;
    height: 22px;
    font-size: 13px;
    border: 1px solid #d9d9d9;
    padding: 0 4px;
}

#date_selector #ui-datepicker-div {
    line-height: normal;
}

#center_block {
    position: absolute;
    width: 1000px;
    height: 90%;
    left: 50%;
    margin-left: -500px;
    margin-top: 40px;
}

#tickets {
    width: 498px;
    min-height: 1px;
    float: left;
}

#tickets .ticket {
    width: 475px;
    height: 160px;
    border: 1px solid #d9d9d9;
}

#map {
    width: 500px;
    height: 80%;
    float: left;
    border: 1px solid #6d6d6d;
}