<div id="header">
    <div class="page_wrapper">
        <div id="logo">
            <a href="/">
                <span class="one">One</span>
                <span class="day">Day</span>
                <span class="pass">Pass</span>
            </a>
        </div>
        <div id="user_panel" ng-controller="UserPanelCtrl" ng-show="user.loaded">
            <div class="auth" ng-show="user.guest">
                <a ng-click="$parent.registerModal=true">Зарегистрироваться</a>
                <a ng-click="$parent.loginModal=true">Войти</a>
            </div>

            <div class="tools" ng-hide="user.guest">
                <a ng-click="$parent.addTicket=true"><i>+</i>Добавить абонемент</a>
                <a ng-click="logout()">Выход</a>
            </div>
        </div>
    </div>
</div>
<div id="header_offset"></div>

<form ui-modal class="fade" ng-model="$parent.loginModal" id="loginModal" ng-controller="LoginCtrl" action="">
    <div class="modal-header"><h1>Вход в систему</h1></div>
    <div class="modal-body">
        <div class="social_block">
            <p>Так же вы можете войти в систему через социальные сети</p>

            <p class="icons">
                <a href="" title="Войти через ВКонтакте" style="background-image: url(/media/icons/vk.png)"></a>
                <a href="" title="Войти через Facebook" style="background-image: url(/media/icons/fb.png)"></a>
                <a href="" title="Войти через Twitter" style="background-image: url(/media/icons/tw.png)"></a>
                <a href="" title="Войти через Яндекс" style="background-image: url(/media/icons/ya.png)"></a>
            </p>
        </div>

        <div class="control-group error" ng-show="errors.global">
            <span class="help-block">{{ errors.global }}</span>
        </div>

        <div class="control-group" ng-class="{ error : errors.email }">
            <span class="help-block">{{ errors.email }}</span>
            <input type="email" class="input-xlarge" name="email" ng-model="data.email" placeholder="E-mail"/>
        </div>

        <div class="control-group" ng-class="{ error : errors.password }">
            <span class="help-block">{{ errors.password }}</span>
            <input type="password" class="input-xlarge" name="password" ng-model="data.password" placeholder="Пароль"/>
            <span class="help-block message">Забыли пароль? <a href="recover">Нажмите здесь</a></span>
        </div>

        <div class="control-group" ng-class="{ error : errors.remember }">
            <span class="help-block">{{ errors.remember }}</span>
            <label class="checkbox">
                <input type="checkbox" name="remember" ng-model="data.remember">
                <small>Запомнить меня</small>
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <div style="width: 284px;">
            <a class="btn gray" ng-click="$parent.loginModal=false">Отмена</a>
            <a class="btn" ng-click="login()">Отправить</a>
        </div>
    </div>
</form>

<form ui-modal class="fade" name="registerForm" ng-model="$parent.registerModal" id="registerModal"
      ng-controller="RegisterCtrl" action="">
    <div class="modal-header"><h1>Регистрация</h1></div>
    <div class="modal-body">
        <div class="social_block">
            <p>Так же вы можете зарегистрироваться через социальные сети</p>

            <p class="icons">
                <a href="" title="Зарегистрироваться через ВКонтакте"
                   style="background-image: url(/media/icons/vk.png)"></a>
                <a href="" title="Зарегистрироваться через Facebook"
                   style="background-image: url(/media/icons/fb.png)"></a>
                <a href="" title="Зарегистрироваться через Twitter"
                   style="background-image: url(/media/icons/tw.png)"></a>
                <a href="" title="Зарегистрироваться через Яндекс"
                   style="background-image: url(/media/icons/ya.png)"></a>
            </p>
        </div>

        <input type="hidden" name="redirect"/>

        <div class="control-group" ng-class="{ error : errors.email }">
            <span class="help-block">{{ errors.email }}</span>
            <input type="email" class="input-xlarge" name="email" ng-model="data.email" placeholder="E-mail"/>
            <span class="help-block message">Мы вышлем ссылку для активации на этот почтовый адрес</span>
        </div>

        <div class="control-group" ng-class="{ error : errors.password }">
            <span class="help-block">{{ errors.password }}</span>
            <input type="password" ng-hide="showPassword" class="input-xlarge" name="password" ng-model="data.password"
                   placeholder="Пароль"/>
            <input type="text" ng-show="showPassword" class="input-xlarge" ng-model="data.password"
                   placeholder="Пароль"/>
            <span class="help-block message">
                <label>
                    <input type="checkbox" ng-model="showPassword" ng-change="changePasswordInputType">
                    Показать пароль
                </label>
            </span>
        </div>

        <div class="control-group" ng-class="{ error : errors.name }">
            <span class="help-block">{{ errors.name }}</span>
            <input type="text" class="input-xlarge" name="name" ng-model="data.name" placeholder="Имя Фамилия"/>
        </div>
    </div>
    <div class="modal-footer">
        <div style="width: 284px;">
            <a class="btn gray" ng-click="$parent.registerModal=false">Отмена</a>
            <a class="btn" ng-click="register()">Зарегистрироваться</a>
        </div>
    </div>
</form>