<link type="text/css" rel="stylesheet" href="/lib/vegas/jquery.vegas.css"/>
<link type="text/css" rel="stylesheet" href="/css/intro.css"/>

<div ng-include="'/partials/header.html'"></div>

<div id="intro">
    <div class="button next"></div>
    <div class="button back"></div>

    <div class="places_wrapper">
        <div class="places">
            <div class="place" ng-repeat="place in places">
                <div class="title" style="background-color: #{{ place.color }}">
                    <span class="name">{{ place.name }}</span>
                </div>

                <div class="day_line" ng-repeat="day in place.days">
                    <a href="/search?from={{ day.full }}&to={{ day.full }}&place={{ place.name }}">
                        <span class="count" style="background-color: #{{ place.color }}">
                            <span class="number">{{ day.count }}</span>
                        </span>

                        <span class="date">
                            <span class="day_name" ng-class="{ holiday : day.holiday }">{{ day.day }}</span>
                            <span class="day_number">{{ day.date }}</span>
                        </span>
                    </a>
                </div>

                <div class="more" style="background-color: #{{ place.color }}">
                    <div class="more_back"></div>
                    <div class="more_next"></div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>

<div id="footer"></div>