<link rel="stylesheet" href="/css/profile.css"/>
<link rel="stylesheet" href="/css/jquery-ui-1.9.2.custom.min.css" />

<div ng-include="'partials/header.html'"></div>

<div id="profile" class="page_wrapper">
    <h1>Личный кабинет</h1>
    <div class="row">
        <div class="span6">
            <h2>Мои абонементы</h2>
            <!--<div class="abonement" ng-repeat="ticket in tickets | startFrom: paginator.currentPage * paginator.pageSize | limitTo: paginator.pageSize">-->
            <div class="ticket" ng-repeat="ticket in tickets">
                <div class="price"><span class="number">{{ticket.price}}</span><br>р/день</div>
                <h3><span class="place_icon" style="background-color: #{{ticket.place.color}}"></span>{{ticket.place.name}}</h3>
                <div class="comment">{{ticket.comment}}</div>
                <div class="calendar">календарь</div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="span6">
            <div id="personal">
                <h2>Мой профиль</h2>
                <div class="avatar">
                    <div class="background">&nbsp;</div>
                    <img src="media/images/user.jpg"  alt="Профиль {{user.fullname}}"/>
                </div>
                <div class="name">{{ user.fullName }}</div>
                <dl>
                    <dt>Телефон</dt>
                    <dd>{{ user.phone }}<span ng-hide="user.phone">-</span></dd>
                    <dt>Skype</dt>
                    <dd>{{ user.skype }}<span ng-hide="user.skype">-</span></dd>
                    <dt>E-mail</dt>
                    <dd>{{ user.email }}<span ng-hide="user.email">-</span></dd>
                    <dt>ICQ</dt>
                    <dd>{{ user.icq }}<span ng-hide="user.icq">-</span></dd>
                </dl>
            </div>

            <h2>Мои адреса</h2>
            <div>333</div>
        </div>
    </div>
</div>

<div id="footer_offset"></div>
<div id="footer"></div>
