<link rel="stylesheet" href="/css/search.css"/>
<link rel="stylesheet" href="/css/jquery-ui-1.9.2.custom.min.css" />

<div ng-include="'partials/header.html'"></div>

<form id="filter" class="form-inline">
    <div class="page_wrapper">
        <div class="button calendar"
             ng-class="{ active: showDateSelector }"
             ng-click="showDateSelector = !showDateSelector"
             ng-init="showDateSelector = false">
            <i class="icon celendar"></i>
        </div>

        <span class="form_result">{{ search_dates }}</span>

        <label class="button" for="from">
            <i class="icon group"></i>
        </label>

        <label class="form_result">1 абонемент</label>

        <label for="to">до</label>

        , <label for="place">место</label>
        <input type="text" name="place" id="place" ng-model="search.place"/>

        <div id="date_selector" ng-show="showDateSelector">
            Дата
            <div class="radioblock">
                <label class="radio" ng-class="{ active: search.usePeriod == 'false' }">
                    <input type="radio" name="date_type" value="false" ng-model="search.usePeriod">
                    <div class="circle"></div> на день
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio" ng-class="{ active: search.usePeriod == 'true' }">
                    <input type="radio" name="date_type" value="true" ng-model="search.usePeriod">
                    <div class="circle"></div> на период
                </label>
                <input ng-model="date_interval_type" type="hidden" />
            </div>

            <div class="dates">
                <input type="text" id="date_from" ng-model="search.from" datepicker/>
                <span id="dash" ng-show="search.usePeriod">&#151;</span>
                <input type="text" id="date_to" ng-model="search.to" datepicker ng-show="search.usePeriod"/>
            </div>
        </div>
    </div>
</form>
<div id="center_block">
    <div id="tickets">
        <div class="ticket"
             ng-repeat="ticket in tickets | startFrom: paginator.currentPage * paginator.pageSize | limitTo: paginator.pageSize"
             ng-style="ticket.selected && {background: '#F5E59F'}"
             ng-mouseover="ticketMarkerHighlight($index)"
             ng-mouseleave="ticketMarkerHighlight($index, true)">
            <p>дата: {{ ticket.date }}</p>
            <p>количество: {{ ticket.count }}</p>
            <p>место: {{ ticket.place.name }}</p>
            <p>владелец: {{ ticket.owner.name }}</p>
        </div>

        <div id="pagination">
            <button ng-disabled="paginator.currentPage == 0"
                    ng-click="paginator.currentPage=paginator.currentPage - 1">
                Previous
            </button>
            {{paginator.currentPage+1}} / {{paginator.numberOfPages()}}
            <button ng-disabled="paginator.currentPage >= tickets.length / paginator.pageSize - 1"
                    ng-click="paginator.currentPage=paginator.currentPage + 1">
                Next
            </button>
        </div>
    </div>

    <div id="map"></div>
</div>

<div id="footer_offset"></div>
<div id="footer"></div>
